<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Basic Blog</title>
    <link rel="stylesheet" tyle="text/css" href="/static/style.css">
  </head>
  <body>
      <header><a class="undecorated-link" href="/">Basic Blog</a></header>
      <div class="login-signup">
      {% if user %}
        <div class="inline-div">
          <div>
            {{ user.name }} (<a class="login-link" href="/logout">logout</a>)
          </div>
          <div>
            <a href="/newpost">newpost</a>
          </div>
        </div>
      {% else %}
        <a class="login-link" href="/login">login</a>
        |
        <a class="login-link" href="/signup">signup</a>
      {% endif %}
      </div>
      <hr>
      {% block content %}
      {% endblock %}
      {{ message | safe }}
  </body>
</html>
