{% extends "base.html" %}

<!--
<h1>Login</h1>
<form method="post">
  <label>
    Username
    <input type="text" name="username" value="{{username}}"><br>
    {% if name_err %}
      <span class="error">{{name_err}}</span>
    {% endif %}
  </label>
  <label>
    Password
    <input type="password" name="password"><br>
    {% if pass_err %}
      <span class="error">{{pass_err}}</span>
    {% endif %}
  </label>
  <button type="submit">Submit</button>
</form>
<div class="signup">
  <a href="/signup">Create Account</a>
</div> -->
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            <h2>Login</h2>
            <form name="sentMessage" id="contactForm" novalidate>
                <div class="row control-group">
                    <div class="form-group col-xs-12 floating-label-form-group controls">
                        <label>Username</label>
                        <input type="text" class="form-control" placeholder="Username" name="username" id="name" value={{username}}>
                        <p class="help-block text-danger"></p>
                    </div>
                </div>
                <div class="row control-group">
                    <div class="form-group col-xs-12 floating-label-form-group controls">
                        <label>Password</label>
                        <input type="password" class="form-control" placeholder="Password" name="password" id="password">
                        <p class="help-block text-danger"></p>
                    </div>
                </div>
                {% block signup %}
                {% endblock %}
                <br>
                {% if name_err or pass_err or match_err or email_err %}
                  {% for i in [name_err,pass_err,match_err,email_err] %}
                    {% if i %}
                      <div class="login-signup-error">
                        <span>{{i}}</span>
                      </div>
                    {% endif %}
                  {% endfor %}
                <br>
                {% endif %}
                <div class="row">
                    <div class="form-group col-xs-12">
                        {% if login %}
                          <button type="submit" class="btn btn-default">Login</button>
                          <span>or <a class="decorated-link" href="/signup">signup</a></span>
                        {% else %}
                          <button type="submit" class="btn btn-default">Signup</button>
                          <span>or <a class="decorated-link" href="/login">login</a></span>
                        {% endif %}
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
