{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
          {% for post in posts %}
          <div class="post-preview">
              <a href={{post.key().id()}}>
                  <h2 class="post-title">
                    {{post.subject}}
                  </h2>
                  <h3 class="post-subtitle">
                    {% if post.content|length > 300 %}
                    {{ post.content[0:300] }}...
                    {% else %}
                    {{post.subject}}
                    {% endif %}
                  </h3>
              </a>
              <!-- TODO link to submitter profile and replace id with username-->
              <p class="post-meta">
                Posted by <a href="/profile?user_id={{post.submitter_id}}">{{post.submitter_id}}</a> on {{post.created}}
              </p>
          </div>
          <hr>
          {% endfor %}
            <!-- Pager -->
            <ul class="pager">
                <li class="next">
                    <a href="/?show_more=True">Load Older Posts &darr;</a>
                </li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}
