{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
          {% for post in posts %}
          <div class="post-preview">
              <a href={{post.key().id()}}>
                  <h2 class="post-title">
                    {{post.subject}}
                  </h2>
                  <h3 class="post-subtitle">
                    {{post.content}}
                  </h3>
              </a>
              <!-- TODO link to submitter profile -->
              <p class="post-meta">Posted by <a href="#">{{post.submitter_id}}</a> on {{post.created}}</p>
          </div>
          <hr>
          {% endfor %}
            <!-- Pager -->
            <!-- <ul class="pager">
                <li class="next">
                    <a href="#">Older Posts &rarr;</a>
                </li>
            </ul> -->
        </div>
    </div>
</div>
{% endblock %}
