{% extends "base.html" %}

{% block content %}
<article>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
              {% if owns %}
              <form action="/editpost" method="post">
                <input type="hidden" name="subject" value={{post.subject}}>
                <input type="hidden" name="post_content" value={{post.content}}>
                <input type="hidden" name="post_id" value={{post.key().id()}}>
                <button style="float:right" type="submit" name="button">edit</button>
              </form>
              <br><br>
              {% endif %}
              <div style="word-wrap:break-word">
                {{post.content}}
              </div>
              <br><br>
              {% if owns or not user %}
              <p>Likes: {{num_likes}}</p>
              {% else %}
              <form action="/like" method="post">
                {% if user and user.key().id() in post.liked_by %}
                <button type="submit" name="unlike" value="pressed-unlike">Unlike | {{ num_likes}}</button>
                {% else %}
                <button type="submit" name="like" value="pressed-like">Like | {{ num_likes }}</button>
                {% endif %}
                <input type="hidden" name="post_id" value={{post.key().id()}}>
              </form>
              {% endif %}

              {% if user %}
              <div class="new-comment">
                <br><br>
                <p>Leave a Comment</p>
                <form action="/comment" method="post">
                  <input type="hidden" name="post_id" value={{post.key().id()}}>
                  <textarea name="comment" rows="4" cols="60">{{comment}}</textarea>
                  <button type="submit" name="submit">Submit</button>
                </form>
              </div>
              {% endif %}
              <div class="comments">
                <br>
                <p><u>Comments</u></p>
                {% if num_comments == 0 %}
                <p>No comments yet.</p>
                {% endif %}
                {% for comment in comments %}
                <div style="background-color:#f5f5f0; padding:1px">
                  <p style="margin-left:10px">{{comment.content}}</p>
                  <p style="margin-left:20px">left by user: {{comment.submitter_id}}</p>
                  {% if comment.submitter_id == user.key().id() %}
                  <button type="submit" name="edit">edit</button>
                  <button type="submit" name="delete">delete</button>
                  {% endif %}
                </div>
                {% endfor %}
              </div>
            </div>
        </div>
    </div>
</article>
{% endblock %}
