{% extends "login_signupbase.html" %}

{% block signup %}
<div class="row control-group">
    <div class="form-group col-xs-12 floating-label-form-group controls">
        <label>Verify Password</label>
        <input type="password" class="form-control" placeholder="Verify Password" name="verify" id="name">
        <p class="help-block text-danger"></p>
    </div>
</div>
<div class="row control-group">
    <div class="form-group col-xs-12 floating-label-form-group controls">
        <label>Email (Optional)</label>
        <input type="text" class="form-control" placeholder="Email (Optional)" name="email" id="name" value={{email}}>
        <p class="help-block text-danger"></p>
    </div>
</div>
{% endblock %}
<!-- <h1>Signup</h1>
<form method="post">
  <label>
    Username
    <input type="text" name="username" value="{{username}}"><br>
    {% if name_err %}
      <span class="error">{{name_err}}</span>
    {% endif %}
  </label>
  <label>
    Password
    <input type="password" name="password"><br>
    {% if pass_err %}
      <span class="error">{{pass_err}}</span>
    {% endif %}
  </label>
  <label>
    Verify Password
    <input type="password" name="verify"><br>
    {% if match_err %}
      <span class="error">{{match_err}}</span>
    {% endif %}
  </label>
  <label>
    Email (optional)
    <input type="text" name="email" value="{{email}}"><br>
    {% if email_err %}
      <span class="error">{{email_err}}</span>
    {% endif %}
  </label>
  <button type="submit">Submit</button>
</form> -->
